body,ul,li{
    margin:0;
    padding:0;
    list-style: none;
}
body{
    font-family: "微软雅黑",Arial;
}
a{
    text-decoration: none;
}
img{
    border:0;
}
*{
    box-sizing:border-box;
}
.nav-box{
    height:44px;
    line-height:44px;
    background:rgba(0,0,0,.8);
    position: relative;
    z-index: 200;
}

.nav-box .max-nav{
    max-width: 1024px;
    height:100%;
    margin:0 auto;
    text-align: justify;
}
.nav-box .max-nav li{
    display: inline-block;
}
.nav-box .max-nav:after{
    content: '';
    display: inline-block;
    height:0;
    width:100%;
    line-height:0;
    clear: both;
}
.nav-box .max-nav li a{
    display: inline-block;
    height:100%;
    color:#fff;
    transition: opacity .3s;
}
.nav-box .max-nav li a:hover{
    opacity: .7;
}
@media screen and  (min-width:768px){
    .max-nav{
        display: block;
    }
    .min-nav{
        display: none;
    }
    
}
@media screen and  (max-width:768px){
    .max-nav{
        display: none;
    }
    .min-nav{
        display: block;
    }

}
.min-nav{
    height:100%;
    text-align: justify;
}
.min-nav .nav{
    height:100%;
    width: 100%;
}
.min-nav .nav>div{
    display: inline-block;
    vertical-align: middle;
    color: #fff;
}
.min-nav .nav .menu{
    height:100%;
    width:44px;
}
.min-nav .nav:after {
    content: '';
    display: inline-block;
    height: 0;
    width: 100%;
    line-height: 0;
    clear: both;
}
.min-nav .nav span{
    display: block;
    width:80%;
    border-top:1px solid #fff;
    margin:14px auto 0;
    transition: all .3s;
}
.min-nav .nav .menu#active span:nth-child(1){
    transform: translateY(7px) rotate(135deg);
}
.min-nav .nav .menu#active span:nth-child(2){
    transform: translateY(-7px) rotate(45deg);
}
.nav-box .min-nav .list{
    display: none;
    background:#000;
    margin-left:-15px;
    /*margin-right:-15px;*/
    height: 0;
}
.min-nav .list li{
    margin:0 44px;
    border-bottom: 1px solid #333;
    height:48px;
    line-height:48px;
    padding-top: 20px;
}
.min-nav .list li a{
    color:#fff;
}
.banner{
    width:100%;
    min-height:650px;
    text-align: center;
    position: relative;
    overflow: hidden;
}
.banner .box{
    height:100%;

}
.clf:before, .clf:after {
    content: "";
    display: block;
    clear: both;
    line-height: 0;
    font-size: 0;
}

.box div{
    display: block;
    width:100%;
    height:100%;
    position: absolute;
    top: 0;
    left: 0;
    bottom: auto;
    right: auto;
    margin-top:-21px;
    padding: 0;
}
.box div:nth-child(1){
    width:100%;
    background: #fff url(../images/mac.jpg) no-repeat center;
}
.box div:nth-child(2){
    width:100%;
    background: #fff url(../images/tim1.jpg) no-repeat center;
}
.box div:nth-child(3){
    width:100%;
    background: #fff url(../images/watch.jpg) no-repeat center;
}
.box div:nth-child(4){
    width:100%;
    background: #fff url(../images/ios1.jpg) no-repeat center;
}
.box img{
    max-width: 100%;

}
.anniu{
    position: absolute;
    bottom:20px;
    left:50%;
    width:120px;
    margin-left: -60px;
    height:15px;
    z-index:100;
}
.anniu li{
    float: left;
     margin-left:15px;
    width:15px;
    height:15px;
    border-radius:50%;
    background:#ccc;
}
.banner .anniu .hot{
    background: transparent;
    box-sizing: border-box;
    border:1px solid blue;
}
.btn{
    width:100%;
    position: absolute;
    top:50%;
    left:0;
    margin-top: -30px;
    z-index:100;
}
.btn div{
    width:30px;
    height:60px;
    font-size: 50px;
    line-height:60px;
    color: #999;
}
.btn .left{
    float: left;
}
.btn .right{
    float: right;
}
.promo {
    width: 100%;
    height: 200px;
    float: left;
    border: 1px solid #fff;
    box-sizing: border-box;
}
.promo:nth-child(1) {
    background: url(../images/apple_tv.jpg) no-repeat center;
}
.promo:nth-child(2) {
    background: url(../images/iphone.jpg) no-repeat center;
}
.promo:nth-child(3) {
    background: url(../images/watch1.jpg) no-repeat center;
}
.promo:nth-child(4) {
    background: url(../images/hp_tiles.jpg) no-repeat center;
}
@media screen and (max-width: 768px){
    .banner{
        min-height:391px;
    }
    .footer1{
        display: none;
    }
    .footer {
    width: 100%;
    background: #f2f2f2;
    height: 356px;
    border: 1px solid #f2f2f2;
    font-size: 12px;
    color: #666;
  }
  .xiatu{
    width: 100%;
    height: 450px!important; 
  }
  
}
@media screen and (min-width:768px) {
    
    .footer2 {
        display: none;
    }

}
.menu-title {
    width: 100%;
    height: auto;
    border-bottom: 1px solid #ccc;
    line-height: 44px;
}
.menu-title:before,
.menu-title:after {
    content: "";
    display: block;
}
.menu-title:after {
    clear: both;
}
.menu-title span {
    float: right;
    padding-right: 30px;
}
.menu-con {
    width: 100%;
    font-size: 1em;
    background: #f2f2f2;
    display: none;
}
.menu-con:before,
.menu-con:after {
    content: "";
    display: block;
}
.menu-con:after {
    clear: both;
}
.menu-con li {
    margin-left: 30px;
}
.content {
    height: 320px;
    margin: 20px auto 0;
    max-width: 1024px;
    padding: 0 22px;
}
.col-xh-4 .footer-title {
    font-weight: bold;
}
.col-xh-4 .footer-con {
    font-weight: normal;
    margin-top: 10px;
}
.footer {
    width: 100%;
    background: #f2f2f2;
    height: 356px;
    border: 1px solid #f2f2f2;
    font-size: 12px;
    color: #666;
}
.fotter{
    height: 356px;
    width: 100%;
}
.xiatu{
    width: 100%;
    height: 200px;
}
